
body,
button {
    font-family: "arial";
    font-size: 1.5rem;
    background-color: #223;
    color: white;
}

button {
    background-color: #334;
    min-width: 200px;
    padding: 1rem;
}

button.btnBack {
    position: fixed;
    top: 0.5vh;
    left: 0.5vh;
    min-width: unset;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    line-height:0.8rem;
}

input {
    text-align: center;
}

* {
    margin-bottom: 0.8rem;
}

.cookie {
    display: none;
    background: #555;
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    transform: translate( -50%, 0 );    
}

.cookie button {
    position: relative;
    background: rgb(10, 97, 10);
    min-width: 5rem;
    padding: 0.8rem;
    margin: auto;
    left: 50%;
    transform: translate( -50%, 0 ); 
}
