
button {
    background-color: #334;
    min-width: 200px;
    padding: 2rem;
}

button.sfx {
    padding: 1rem 2rem;
}

h2 {
    margin-bottom: 1.2rem;
}

input {
    position: relative;
    width: 4rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

#inputInterval {
    /* width: 5rem; */
    text-align: right;
}

.label {
    display: inline-block;
    min-width: 101px;
    text-align: right;
}

.label.type {
    min-width: 40px;
    text-align: left;
}

#oven {
    width: 18rem;
    background-color: #020202;
    border: solid 1px #3f3b3b;
    padding: 0.25rem;
    user-select: none;
}

#oven div {
    display: inline-block;
}

.oven-btn {
    background-color: #334;
    width: 1.9rem;
    height: 1.9rem;
    margin: auto 0.5rem;
    border: 1px solid #3f3b3b;
    border-radius: 50%;
    transform: translateY(-50%);
}

.display {
    font-size: 4rem;
}


#display-2 {
    margin-bottom: 0;
}

